@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&family=Itim&display=swap');

.main{
    display: flex;
    width: 100%;
    border: solid 1px rgb(0, 0, 0);
    
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: #ff0000;
    color: rgb(255, 255, 255); 
    flex: 1;
    height: 750px;
    justify-content: space-between;
}

.body{
    display: flex;
    color: white;
    font-family: 'Dancing Script', cursive;    
    flex: 3;
    justify-content:space-between;
}

.number{
    font-family: 'Itim', cursive;
    text-align: center;
    background-color: rgb(25, 0, 253);
}
.con{
    text-align: center;
    /*flex: 1;*/
    background-color: saddlebrown;
}

.con1{
    display: flex;
    flex-direction: column;
}
.con1-1{
    order:6;
}
.con1-2{
    order:5;
}
.con1-3{
    order:4;
}
.con1-4{
    order:3;
}
.con1-5{
    order:2;
}
.con1-6{
    order:1;
}